#cmbDateTypeCreateDate{
  width: 40px !important;
}

#cmbYearCreateDate{
  width: 60px !important;
}

#cmbMonthCreateDate{
  width: 85px !important;
}

#cmbEndMonthCreateDate{
  width: 85px !important;
}

#ext-gen6{
  &:before{
    content: "\f067";
  }
}

#ext-gen11{
  &:before{
    content: "\f00d";
  }
}

#ext-gen16{
  &:before{
    content: "\f044";
  }
}

#ext-gen21{
  &:before{
    content: "\f05e";
  }
}

#ext-gen26{
  &:before{
    content: "\f157";
  }
}

#ext-gen31{
  &:before{
    content: "\f06c";
  }
}

#ext-gen36{
  &:before{
    content: "\f234";
  }
}

#ext-gen41{
  &:before{
    content: "\f013";
  }
}

#ext-gen46{
  &:before{
    content: "\f05a";
  }
}

#ext-gen51{
  &:before{
    content: "\f1d8";
  }
}