#cmbDateTypeCreateDate{
  width: 40px !important;
}

#cmbYearCreateDate{
  width: 60px !important;
}

#cmbMonthCreateDate{
  width: 85px !important;
}

#cmbEndMonthCreateDate{
  width: 85px !important;
}

#extraform,
#basicform{
  .x-form{
    height: 290px !important;
    padding: 0 !important;
  }
}

#formwindow{
  .x-tab-panel-body{
    height: 305px !important;
  }

  .x-window-body{
    height: 340px !important;
  }
}