#cmbDateTypeCreateDate{
  width: 40px !important;
}

#cmbYearCreateDate{
  width: 60px !important;
}

#cmbMonthCreateDate{
  width: 85px !important;
}

#cmbEndMonthCreateDate{
  width: 85px !important;
}