@import "xbtn";
@import "xgrid3";
@import "pagnition";

#datagrid{
  width: 100% !important;

  .x-panel-body{
    border: none;
    width: 100% !important;
    overflow: auto !important;
  }

  & > .x-panel-bwrap{
    & > .x-panel-body{
      @include xgrid3
    }

    & > .x-panel-bbar{
      @include pagnition
    }
  }
}
