@import './xbtn';
//表格控件
#divDataGrid,
#fmReceiveGridDiv,
#sendGrid{
  width: 100% !important;
  border: none;


  @include xbtn;

  .x-panel-body{
    border: none;
    width: 100% !important;
    overflow: auto !important;
  }

  & > .x-panel-bwrap{
      // 销售查询 》 销售总量
      & > .x-panel-ml > .x-panel-mr > .x-panel-mc > .x-panel-body > .x-panel{
          .x-form-item-label{
              font-size: 14px;
          }
          & .x-panel-bwrap{
              background-color: transparent;
          }
          .x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br,.x-panel-tc{
              background-image: none;
              border-color: none;
              border: none;
          }

      }
  }

  //应收账款明细
  & > .x-panel-header.x-unselectable{
      background-image: none;
      font-size: 14px;
      line-height: 3;
      border: 1px solid #eee;
  }

  & > .x-panel-bwrap{
    //表格区域
    .x-panel-body{
      .x-grid3{

        &-header{
          background-image:none;
          background-color: #f4f4f4;

          .x-grid3-hd-btn{
            background-image: imgurl('images/default/grid/grid3-hd-btn.gif');
            background-color: transparent;
          }

          &-offset table,
          &-offset {
            width: 100% !important
          }

          .x-grid3-hd-row td{
            height: 60px;
            border-left: none;
            border-right: none;
          }
        }

        &-cell{
          height: 40px !important;
          vertical-align: middle !important;
          border-right: none !important;
        }

        &-scroller{
          width: 100% !important;
        }

        &-body{
          width: 100% !important;

          .x-grid3-td-numberer,
          .x-grid3-td-checker{
            background-image: none !important;
          }

          .x-grid3-row{
            border: none;
            background-color: rgb(251, 251, 251);
            width: 100% !important;
            border-top: 4px solid #FFF !important;

            &-table{
              width: 100% !important;
            }

            &-over{
              background-image: none;
              background-color: #eee;
            }
          }
        }

        &-row-checker,
        &-hd-checker{
          width: 18px !important;
          margin: 0 auto;
        }

        td.x-grid3-hd-over .x-grid3-hd-inner,
        td.sort-desc .x-grid3-hd-inner,
        td.sort-asc .x-grid3-hd-inner,
        td.x-grid3-hd-menu-open .x-grid3-hd-inner{
          background-color: transparent !important;
          background-image: none !important;
        }


        .x-grid-with-col-lines .x-grid3-row td.x-grid3-cell{
          border-right: none;
        }

        &-cell-inner{
          border-right: none;
        }


        &-col-checker,
        .x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner,
        .x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner{
          height: auto !important;
        }
      }
    }

    //分页区域
    & > .x-panel-bbar{
      .x-toolbar{
        margin-top: 10px;
        border-color: transparent !important;
        background-color: transparent !important;
        background-image: none;
        height: 40px;

        div{
          font-size: 14px;
        }

        .x-item-disabled{
          opacity: .4;
        }

        .x-tbar-page-next{
          background-image: imgurl('/images/default/grid/page-next.png') !important;
        }
        .x-tbar-page-last{
          background-image: imgurl('/images/default/grid/page-last.png') !important;
        }
        .x-tbar-page-prev{
          background-image: imgurl('/images/default/grid/page-prev.png') !important;
        }
        .x-tbar-page-first{
          background-image: imgurl('/images/default/grid/page-first.png') !important;
        }

        //center table
        &-ct{
          position: relative;
        }

        //页码
        &-left{
          width: 100%;
          position: absolute;
          text-align: center;
          > table{
            margin: 0 auto;
            padding:  0 10px;
            background-color: #cfe0eb;
            border-radius: 5px;
          }
        }

        //分页信息
        &-right{
          width: 1px;

          > table{
            margin-right: 15px;
            td{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
