.x-btn button{
  font-size: 14px !important;
}

.x-grid3-hd-row td, .x-grid3-row td, .x-grid3-summary-row td{
  font-size: 14px !important;
}

.x-panel-mc{
  font-size: 14px !important;
}
.x-menu-list-item{
    font-size: 14px;
}
a.x-menu-item{
    line-height: 1.4;
}

.x-combo-list-item{
    font-size: 14px;
    line-height: 1.4;
}
.x-form-field{
    font-size: 14px;
}
