form[action^="frmProductCostView.aspx"]{
  #lblStatDate,
  #Label1{
    padding: 10px 0;
    display: inline-block;
  }

  & > div{
    background-color: rgb(249, 249, 249) !important;
  }

  #GridView1{
      td,th{
          padding: 3px;
      }
  }
}

form[action^="frmCommonListUpdate.aspx"]{
    .x-toolbar{
        border-color: #eee;
        background-color: #f9f9f9;
        background-image: none;
    }
}
