@import './reset.css';
@import "./font";
@import "./xgrid3";
@import "./xwindow";
@import "./xbtn";
@import "./xform";
@import "./xtabpanel";

@import "./toolbar";
@import "./searchform";


@import "customerManage";


$imghost: 'http://127.0.0.1:8080/';

@function imgurl($path){
    @return url($imghost + $path);
}

.x-grid3-hd-btn{
    background-image: imgurl('images/default/grid/grid3-hd-btn.gif');
    background-color: transparent;
}
.x-toolbar .xtb-sep {
    background-image: imgurl('images/default/grid/grid-blue-split.gif');
}
