@import './reset.css';

@import "./toolbar";


$imghost: 'http://192.168.99.143:8080/';

@function imgurl($path){
    @return url($imghost + $path);
}

.x-grid3-hd-btn{
    background-image: imgurl('images/default/grid/grid3-hd-btn.gif');
    background-color: transparent;
}
.x-toolbar .xtb-sep {
    background-image: imgurl('images/default/grid/grid-blue-split.gif');
}
