$imghost: 'http://127.0.0.1:8080/';

@function imgurl($path){
    @return url($imghost + $path);
}

@import './reset.css';
html,
body{
    height: 100% !important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body{
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]{
    background-image: none !important;
}

@import "./font";
//@import "./xgrid3";
@import "./xwindow";
@import "./xbtn";
//@import "./xform";
@import "./xpanel";
@import "./xtabpanel";
@import "./datagrid";
@import "./divDataGrid";
@import "./divSearchForm";
@import "./serchform";

@import "./toolbar";
@import "./searchform";


@import './formwindow';

@import "./viewGrid";

@import "./pnlDate";
@import "xdatapicker";

@import "./form";


@import "customerManage";
