$imghost: 'http://127.0.0.1:8080/';

@function imgurl($path){
    @return url($imghost + $path);
}

@import './reset.css';
@import "./font";
//@import "./xgrid3";
//@import "./xwindow";
//@import "./xbtn";
//@import "./xform";
//@import "./xpanel";
//@import "./xtabpanel";
@import "./datagrid";
@import "./serchform";

@import "./toolbar";
@import "./searchform";


@import "customerManage";
