#pnlDate{
  background-color: rgb(249, 249, 249);

  #mulSelect{
    display: inline-block;
  }

  & > table{
    & > tbody{
      & > tr{
        & > td{
          padding-left: 10px;
          height: 34px;

          & > table{
            td{
              width: auto !important;

              input[type="submit"]{
                background-color: #44dcf7;
                padding: 3px 10px;
                height: auto !important;
                color: #FFF;
                border: none;
                width: auto !important;
                margin-right: 5px;
              }

            }
          }

          select{
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#form1{
  table{
    border-spacing: 0;
  }
}