html,
body{
    height: 100% !important;
}

body{
    padding: 10px !important;
    box-sizing: border-box;
    font-size: 14px;
}

.x-grid-panel{
    width: 100% !important;
}

.x-grid-panel .x-panel-body{
    width: 100% !important;
    overflow: auto !important;
}



input[type="text"]{
    background-image: none !important;
}

