@import "xbtn";

#searchForm{
  background-color: rgb(249, 249, 249);
  margin-bottom: 5px;

  .x-panel-tl{
    border: none;
  }

  label{
    white-space: nowrap;
  }

  .x-panel-mc,
  .x-panel-mr,
  .x-panel-ml{
    background-color: rgb(249, 249, 249);
    background-image: none;
  }

  .x-panel-tl,
  .x-panel-tr,
  .x-panel-bl,
  .x-panel-br,
  .x-panel-bc{
    background-image: none;
    background-color: rgb(249, 249, 249);
  }

  @include xbtn;

  .x-btn{
    margin-left: 5px;
  }

  //search form
  & > .x-panel-bwrap{
    .x-panel-body{
      height: auto !important;
    }

    .x-form-check-wrap{
      height: auto;
    }

  }


  //高级查询表单
  & > .x-panel{
    background-color: rgb(249, 249, 249);

    & > .x-panel-bwrap{
      & > .x-panel-ml{
        & > .x-panel-mr{
          & > .x-panel-mc{
            & > .x-panel-body{
              & > .x-table-layout{
                & > tbody{
                  & > tr{
                    & > td{
                      height: 30px;
                      padding: 5px 10px 5px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .x-form-text, textarea.x-form-field{
      background-image: none;
    }

    .x-form-field-trigger-wrap{
      width: auto !important;
      padding-right: 17px !important;
    }
  }
}
