#toolbar{
  .x-toolbar{
    padding: 0px !important;
    background-color: rgb(247, 249, 250) !important;
    background-image: none !important;
    height: 40px !important;
    border-bottom: 1px solid rgb(220, 229, 235);

    table{
      height: 100%;
    }

    .x-btn{

      .x-btn-text{
        background-color: transparent;
        color: #333;
      }
    }

    .x-btn-mc em.x-btn-split{
      background-image: url(../images/default/button/s-arrow-noline.gif) !important;
    }

    .x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc{
      background-image: none !important;
    }

    .x-btn-over{
      background-color: rgb(236, 236, 236) !important;
    }

    .x-btn-text-icon .x-btn-icon-small-left .x-btn-text{
      background-image: none !important;
      padding: 0 30px !important;
    }

    .xtb-sep{
      margin: 0 !important;
      width: 2px !important;
      height: 100% !important;
    }
  }
}

#datagrid{
    // border: 10px solid transparent;
    // padding: 10px;
    box-sizing: border-box;
    .x-grid3-header{
        background-image:none;
        background-color: #f4f4f4;
        // text-align: center;
    }
    .x-panel-bwrap {
        // padding: 15px;
        // border: 2px solid #e3e3e3;
    }
    .x-panel-body{
        border: none;

    }
    .x-toolbar{
        margin-top: 10px;
        border-color: transparent !important;
        background-color: transparent !important;
        background-image: none;
        .x-toolbar-right{
            width: 1px;
        }
        .x-toolbar-ct{
            position: relative;
        }
        .x-toolbar-left{
            width: 100%;
            position: absolute;
            text-align: center;
            table{
                margin: 0 auto;
                background-color: #cfe0eb;
            }
        }
    }
}
