.x-btn{
  width: auto !important;
  font-size: 14px;

  .x-btn-tl,
  .x-btn-tr,
  .x-btn-tc,
  .x-btn-ml,
  .x-btn-mr,
  .x-btn-mc,
  .x-btn-bl,
  .x-btn-br,
  .x-btn-bc{
    background-image: none;
  }

  .x-btn-text{
    // background-color: rgb(107, 225, 245);
    padding: 5px 10px;
    height: auto !important;
    color: #FFF;
  }
}
