
@mixin noBluePanel{
    .x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br,.x-panel-mr,.x-panel-ml,.x-panel-bc,.x-panel-mc{
        background-image: none;
        border-bottom-color:#eee;
        background-color: #f9f9f9;
    }
    .x-form-check-wrap{
        input[type='checkbox']{
            margin-top: 5px;
        }
    }
}

@mixin greyBorderPanel{
    .x-panel-body,.x-panel-body-noheader, .x-panel-mc .x-panel-body{
        border-color: #eee;
    }
}

#useraddfrom{
    @include noBluePanel;
    #x-form-el-UserPassword input{
        background-image: none;
    }
}
#ext-comp-1011{
    @include greyBorderPanel;
}
