@mixin xsgrid3{
  .x-grid3{

    &-header{
      background-image:none;
      background-color: #f4f4f4;

      .x-grid3-hd-btn{
        //background-image: imgurl('images/default/grid/grid3-hd-btn.gif');
        background-color: transparent;
      }

      &-offset table,
      &-offset {
        width: 100% !important
      }

      .x-grid3-hd-row td{
        //height: 60px;
        border-left: none;
        border-right: none;
      }

      .x-grid3-hd-row .x-grid3-gcell{
        //height: 25px;

        &.x-grid3-td-beginStartDate,
        &.x-grid3-td-endStartDate{
          background-color: #ccc;
        }
      }
    }

    &-cell{
      //height: 40px !important;
      vertical-align: middle !important;
      border-right: none !important;
    }

    &-scroller{
      width: 100% !important;
    }

    &-body{
      width: 100% !important;

      .x-grid3-td-numberer,
      .x-grid3-td-checker{
        background-image: none !important;
      }

      .x-grid3-row{
        border: none;
        background-color: rgb(251, 251, 251);
        width: 100% !important;
        //border-top: 4px solid #FFF !important;

        &-table{
          width: 100% !important;
        }

        &-over{
          background-image: none;
          background-color: #eee;
        }
      }
    }

    &-row-checker,
    &-hd-checker{
      //width: 18px !important;
      margin: 0 auto;
    }

    td.x-grid3-hd-over .x-grid3-hd-inner,
    td.sort-desc .x-grid3-hd-inner,
    td.sort-asc .x-grid3-hd-inner,
    td.x-grid3-hd-menu-open .x-grid3-hd-inner{
      background-color: transparent !important;
      background-image: none !important;
    }


    .x-grid-with-col-lines .x-grid3-row td.x-grid3-cell{
      border-right: none;
    }

    &-cell-inner{
      border-right: none;
    }


    &-col-checker,
    .x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner,
    .x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner{
      height: auto !important;
    }
  }
}