.x-window{
  &-ml,
  &-mr,
  &-bl,
  &-br,
  &-bc,
  &-tl,
  &-tc,
  &-tr{
    background-image: none;
    background-color: #FFF;
  }

  &-tl &-header{
    font-size: 14px;
    color: rgb(150, 150, 150);
    //padding: 10px 0 !important;
    padding-left: 0 !important;
  }

  &-bwrap{
    .x-window-mc{
      border: none;
      background-color: #FFF !important;
    }

    .x-window-body{
      border: none;
      overflow: visible;
      //height: auto !important;

      .x-tab-panel-bwrap{
        overflow: visible !important;
      }

      .x-btn{
        .x-btn-text{
          padding: 0;
        }
      }

      .x-panel{
        border-color: #dadada;

        .x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br,
        {
          display: none;
        }

        .x-panel-ml, .x-panel-mr{
          background-image: none;
        }

        .x-panel-mc{
          background-color: #FFF;

          .x-toolbar{
            background-image: none;
            border-color: #dadada;
            background-color: #f8f9fb;
          }
        }
      }

      .x-panel-header{
        background-image: none;
        background-color: #f8f9fb;
        border-color: #dadada;
        color: rgb(123, 123, 123);
      }

      .x-panel-bwrap{
        .x-panel-body{
          border-color: #dadada;
        }
      }
    }
  }

  .x-toolbar-cell{
    .x-btn-click{
      //width: auto !important;
    }
  }

  .x-panel-btns{
    padding: 5px;
  }
}