.x-window{
  &-ml,
  &-mr,
  &-bl,
  &-br,
  &-bc,
  &-tl,
  &-tc,
  &-tr{
    background-image: none;
    background-color: #FFF;
  }

  &-tl &-header{
    font-size: 14px;
    color: rgb(150, 150, 150);
    //padding: 10px 0 !important;
    padding-left: 0 !important;
  }

  &-bwrap{
    .x-window-mc{
      border: none;
      background-color: #FFF !important;
    }

    .x-window-body{
      border: none;
      overflow: visible;
      //height: auto !important;

      .x-tab-panel-bwrap{
        overflow: visible !important;
      }

      .x-btn{
        .x-btn-text{
          padding: 0;
        }
      }
    }
  }

  .x-toolbar-cell{
    .x-btn-click{
      //width: auto !important;
    }
  }

  .x-panel-btns{
    padding: 5px;
  }
}